<!-- CHOICES CHOICES CHOICES -->
<div id="choice">
  <h1>Choose your option below:</h1>
<br>

<!-- Table of choices -->

<table id ="Ctable">
<!--MOVIE + ? -->

  <tr>
    <thead>Movie + ?</thead>
    <td><%= link_to "Cupcakes", controller: "date" %></td>
    <td><%= link_to "Peach Cobbler", controller: "date" %></td>
    <td><%= link_to "Peach Pie", controller: "date" %></td>
    <td><%= link_to "Popcorn", controller: "date" %></td>
  </tr>
</table>
<br>

<!--CHESS + ? -->
<table id ="Ctable">
  <tr>
    <thead>Chess + ?</thead>
    <td><%= link_to "Cupcakes", controller: "date" %>|</td>
    <td><%= link_to "Peach Cobbler", controller: "date" %>|</td>
    <td><%= link_to "Peach Pie", controller: "date" %>|</td>
    <td><%= link_to "Popcorn", controller: "date" %>|</td>
  </tr>
</table>
<br>
<!--MARIO + ? -->
<table id ="Ctable">
  <tr>
    <thead>Super Mario + ?</thead>
    <td><%= link_to "Cupcakes", controller: "date" %>|</td>
    <td><%= link_to "Peach Cobbler", controller: "date" %>|</td>
    <td><%= link_to "Peach Pie", controller: "date" %>|</td>
    <td><%= link_to "Popcorn", controller: "date" %>|</td>
  </tr>
</table>
<br>
*|<%= link_to "Home", controller: "welcome" %>|*
*|<%= link_to "Back", controller: "options" %>|*
</div>
